force-app/main/default/flows/Project_PPA_DDA_Construction_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Picklist</name>
        <label>Check Picklist</label>
        <locationX>1172</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PPA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_PPA_is_present_or_not</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PPA</label>
        </rules>
        <rules>
            <name>DDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DDA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PPA_record_get</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>DDA</label>
        </rules>
        <rules>
            <name>Construction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Construction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DDA_record_get</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Construction</label>
        </rules>
        <rules>
            <name>Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_project</targetReference>
            </connector>
            <label>Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>DDAs_Contruction_Check_decision</name>
        <label>DDAs Contruction Check decision</label>
        <locationX>1238</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DDA_s_Construction_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DDaConstructionRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Construction_creation_0</targetReference>
            </connector>
            <label>DDA&apos;s Construction Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>PPA_s_DDA_check_decision</name>
        <label>PPA&apos;s DDA check decision</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PPA_s_DDA_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PpaDDArecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DDA_record_creation_0</targetReference>
            </connector>
            <label>PPA&apos;s DDA Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_PPA_check_decision</name>
        <label>Project PPA check decision</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PPA_is_present_or_npt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectPPArecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PPA_creation_0</targetReference>
            </connector>
            <label>Check PPA is present or npt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Warranty_Check</name>
        <label>Project Warranty Check</label>
        <locationX>1766</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Warranty_s_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectWarrantyRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_Creation_0</targetReference>
            </connector>
            <label>Project Warranty&apos;s Check</label>
        </rules>
    </decisions>
    <interviewLabel>Project PPA DDA Construction Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project PPA DDA Construction Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Construction_creation_0</name>
        <label>Construction creation</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>DDA_record_get.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Construction_Start_Date__c</field>
            <value>
                <elementReference>DDA_record_get.Est_Construction_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Construction_Timeframe__c</field>
            <value>
                <elementReference>DDA_record_get.Construction_Timeframe_in_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Construction_Type__c</field>
            <value>
                <elementReference>DDA_record_get.Construction_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dev_Consultant__c</field>
            <value>
                <elementReference>DDA_record_get.Dev_Consultant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Name} Construction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Complete_March_31_NY__c</field>
            <value>
                <elementReference>DDA_record_get.Percent_Complete_by_March_31_NY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Complete_March_31_This_Year__c</field>
            <value>
                <elementReference>DDA_record_get.Percent_Complete_by_March_31__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Architect__c</field>
            <value>
                <elementReference>DDA_record_get.Project_Architect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>DDA_record_get.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Size_sqft__c</field>
            <value>
                <elementReference>DDA_record_get.Expected_Project_Size_sq_ft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Contract_Value__c</field>
            <value>
                <elementReference>DDA_record_get.Expected_Project_Size_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Projected_Total_OH_P__c</field>
            <value>
                <elementReference>DDA_record_get.Expected_Profitability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_DDA__c</field>
            <value>
                <elementReference>DDA_record_get.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Construction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DDA_record_creation_0</name>
        <label>DDA record creation</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>PPA_record_get.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Construction_Timeframe_in_Months__c</field>
            <value>
                <elementReference>PPA_record_get.Construction_Timeframe_in_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Construction_Type__c</field>
            <value>
                <elementReference>PPA_record_get.Construction_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dev_Consultant__c</field>
            <value>
                <elementReference>PPA_record_get.Dev_Consultant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Est_Construction_Start_Date__c</field>
            <value>
                <elementReference>PPA_record_get.Est_Construction_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Profitability__c</field>
            <value>
                <elementReference>PPA_record_get.Projected_Total_OH_P__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Project_Size_USD__c</field>
            <value>
                <elementReference>PPA_record_get.Projected_Project_Size_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Project_Size_sq_ft__c</field>
            <value>
                <elementReference>PPA_record_get.Expected_Project_Size_sqft__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Name} DDA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Complete_by_March_31_NY__c</field>
            <value>
                <elementReference>PPA_record_get.Percent_Complete_by_March_31_NY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percent_Complete_by_March_31__c</field>
            <value>
                <elementReference>PPA_record_get.Percent_Complete_by_March_31__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>PPA_record_get.Probability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Architect__c</field>
            <value>
                <elementReference>PPA_record_get.Project_Architect__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>PPA_record_get.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_PPA__c</field>
            <value>
                <elementReference>PPA_record_get.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DDA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PPA_creation_0</name>
        <label>PPA creation</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Name} PPA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_ID__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PPA_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>$Record.Probability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PPA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Warranty_Creation_0</name>
        <label>Warranty Creation</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>update_project_record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_project.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!get_project.Name} Warranty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>get_project.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_if_PPA_is_present_or_not</name>
        <label>Check if PPA is present or not</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_PPA_check_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>PPA__c</object>
        <outputReference>ProjectPPArecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>DDA_record_get</name>
        <label>DDA record get</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DDA_s_Construction_Get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DDA__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DDA_s_Construction_Get</name>
        <label>DDA&apos;s Construction Get</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DDAs_Contruction_Check_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_DDA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DDA_record_get.Id</elementReference>
            </value>
        </filters>
        <object>Construction__c</object>
        <outputReference>DDaConstructionRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_project</name>
        <label>get project</label>
        <locationX>1766</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Warranty_get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PPA_record_get</name>
        <label>PPA record get</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PPA_s_DDA_get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PPA__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PPA_s_DDA_get</name>
        <label>PPA&apos;s DDA get</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PPA_s_DDA_check_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_PPA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PPA_record_get.Id</elementReference>
            </value>
        </filters>
        <object>DDA__c</object>
        <outputReference>PpaDDArecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Project_Warranty_get</name>
        <label>Project Warranty get</label>
        <locationX>1766</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Warranty_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_project.Contract.Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>ProjectWarrantyRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_project_record</name>
        <label>update project record</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Warranty_Creation_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Picklist</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DDaConstructionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Construction__c</objectType>
    </variables>
    <variables>
        <name>PpaDDArecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DDA__c</objectType>
    </variables>
    <variables>
        <name>ProjectPPArecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PPA__c</objectType>
    </variables>
    <variables>
        <name>ProjectWarrantyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
